html, body {
	font-family: Consolas, monaco, monospace;
	/*background-color: #272822;*/
	/*color: #F8F8F2;*/
}

a {
	text-decoration: none;
	color: #00c2ff;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #00c2ff;
}

h2 {
	color: #00c2ff;
}

.tests-list {
	display: none;
}

footer {
	background-color: #222;
}

/* Formulaire d'ajout de question*/
#newCategoryDiv, #newNormeDiv {
	display: none;
}
